@import "uic/overrides";

body {
  font-family: /*Theinhardt,*/ -apple-system, BlinkMacSystemFont, "Segoe UI",
    "HelveticaNeue-Light", "Helvetica Neue Light", "Source Sans Pro",
    "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

/**
 * LibChat
 * If possible, CSS is stored here and not directly in LibChat.
 */
#lcs_slide_out-14613 {
  z-index: 40 !important;

  header {
    a {
      text-align: unset !important;
      font-weight: 700;
      padding: 1rem !important;
      width: 100%;
      border: none transparent !important;
      top: calc(-2rem + -1em) !important;
      left: unset !important;
      bottom: auto !important;
    }
  }

  body {
    background: none transparent !important;
    border: none transparent !important;
    padding: unset !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
      "HelveticaNeue-Light", "Helvetica Neue Light", "Source Sans Pro",
      "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
    color: #252525;

    #s-lch-msg-log .s-lch-msg-patron .s-lch-msg-body {
      color: blue;
    }
  }
}

/**
 * Login header
 */
.login-header {
  width: 100%;
  background-color: $uic-navy;
  margin-bottom: 2rem;
}